<div class="row justify-content-evenly mt-4">
  {{!-- sign up form --}}
  <div class="col-sm-5 px-0 pb-2 mb-4 border border-dark border-3 text-center">
    <h2 class="bg-dark text-light text-center p-2 w-100">Sign Up</h2>
    <form id="signup">
      <div class="mb-3 mx-2 text-start text-dark">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="mb-3 mx-2 text-start text-dark">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
  
  {{!-- log in form --}}
  <div class="col-sm-5 px-0 pb-2 mb-4 border border-dark border-3 text-center">
    <h2 class="bg-dark text-light text-center p-2 w-100">Log In</h2>
    <form id="login">
      <div class="mb-3 mx-2 text-start text-dark">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="mb-3 mx-2 text-start text-dark">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>
</div>


<script src="/js/login.js"></script>